# Directories
# -----------
/.idea/
/kubernetes/samples/.vagrant/
/kubernetes/samples/kubeadm-certs-txt/

# Files
# -----
/encryption/gpg-backup.ps1
/golang/webapp-pinger/.config/docker/backend/.ash_history
/golang/webapp-pinger/.config/docker/backend/.ash_history-02