network:
  version: 2
  ethernets:
    ${VAGRANT_interface}:
      addresses:
      - ${VAGRANT_ip4}/24
      - ${VAGRANT_ip6}/64
      routes:
       - to: 0.0.0.0
         via: ${VAGRANT_gateway}
       - to: ::/0
         via: ${VAGRANT_gateway6}