apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubeadm.kubernetes.io/etcd.advertise-client-urls: "https://${ADVERTISE_ADDRESS_URL}:2379"
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - "--advertise-client-urls=https://${ADVERTISE_ADDRESS_URL}:2379"
    - "--listen-client-urls=https://[::1]:2379,https://${ADVERTISE_ADDRESS_URL}:2379"
    - --cert-file=/etc/kubernetes/pki/etcd/server.crt
    - --key-file=/etc/kubernetes/pki/etcd/server.key
    - --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
    - --data-dir=/var/lib/etcd
    - "--initial-advertise-peer-urls=https://${ADVERTISE_ADDRESS_URL}:2380"
    - "--initial-cluster=${HOSTNAME}=https://${ADVERTISE_ADDRESS_URL}:2380"
    - "--listen-client-http-urls=http://${ADVERTISE_ADDRESS_URL}:2381"
    - "--listen-peer-urls=https://${ADVERTISE_ADDRESS_URL}:2380"
    - --name=${HOSTNAME}
    - --peer-cert-file=/etc/kubernetes/pki/etcd/peer.crt
    - --peer-client-cert-auth=true
    - --peer-key-file=/etc/kubernetes/pki/etcd/peer.key
    - --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
    - --snapshot-count=10000
    - "--warning-apply-duration=200ms"
    #- --client-cert-auth=true
    name: etcd
    image: "registry.k8s.io/etcd:${ETCD_IMG_VER}"
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
    livenessProbe:
      failureThreshold: 8
      httpGet:
        path: /livez
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    readinessProbe:
      failureThreshold: 3
      httpGet:
        path: /readyz
        port: 2381
        scheme: HTTP
      periodSeconds: 1
      timeoutSeconds: 15
    startupProbe:
      failureThreshold: 8
      httpGet:
        path: /readyz
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: etcd-data
    - mountPath: /etc/kubernetes/pki/etcd
      name: etcd-certs
  hostNetwork: true
  priority: 2000001000
  priorityClassName: system-node-critical
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
  - hostPath:
      path: /etc/kubernetes/pki/etcd
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
    name: etcd-data
